.container {
    width: 1200px !important;
    padding-inline: 15px !important;
}
.col-lg-2-17 {
    flex: 0 0 auto;
    width: 17.666667% !important;
}
.col-lg-10-82 {
    flex: 0 0 auto;
    width: 82.333333% !important;
}
.lh-0 {
    line-height: 0 !important;
}
.lh-05 {
    line-height: 0.5 !important;
}
.z-index100 {
    z-index: 100;
}
.z-index102 {
    z-index: 102;
}
.z-index103 {
    z-index: 103;
}
.z-index104 {
    z-index: 104;
}
.z-index105 {
    z-index: 105;
}
.z-index106 {
    z-index: 106;
}
.z-index107 {
    z-index: 107;
}
.z-index108 {
    z-index: 108;
}
.z-index109 {
    z-index: 109;
}
.z-index110 {
    z-index: 110;
}
.w-0 {
    width: 0%;
}
.w-33 {
    width: 33%;
}
.w-38 {
    width: 38%;
}
.w-55 {
    width: 55%;
}
.w-58 {
    width: 58%;
}
.opacity-25 {
    opacity: 25% !important;
}
.rounded-top-left-1 {
    border-top-left-radius: 4px;
}
.rounded-top-right-1 {
    border-top-right-radius: 4px;
}
.rounded-bottom-left-1 {
    border-bottom-left-radius: 4px;
}
.rounded-bottom-right-1 {
    border-bottom-right-radius: 4px;
}
.rounded-2px {
    border-radius: 2px !important;
}
.rounded-8px {
    border-radius: 8px !important;
}
.rounded-4 {
    border-radius: 20px;
}
.rounded-5 {
    border-radius: 30px;
}
.rounded-initial {
    border-radius: initial !important;
}
.border-dbdbdb {
    border-color: #dbdbdb !important;
}
.cursor-default {
    cursor: default;
}
.cursor-text {
    cursor: text;
}
.cursor-pointer {
    cursor: pointer !important;
}
.cursor-zoom-in {
    cursor: zoom-in;
}
.cursor-zoom-out {
    cursor: zoom-out;
}
.userselect-none {
    user-select: none !important;
}
.px-1px {
    padding-inline: 1px !important;
}
.px-2px {
    padding-inline: 2px !important;
}
.ps-2px {
    padding-left: 2px !important;
}
.py-2px {
    padding-block: 2px !important;
}
.ps-3px {
    padding-left: 3px !important;
}
.py-3px {
    padding-block: 3px;
}
.pt-5px {
    padding-top: 5px !important;
}
.py-5px {
    padding-block: 5px !important;
}
.pe-5px {
    padding-right: 5px !important;
}
.pt-6px {
    padding-top: 6px !important;
}
.p-6px {
    padding: 6px !important;
}
.ps-6px {
    padding-inline-start: 6px;
}
.pe-6px {
    padding-right: 6px !important;
}
.px-6px {
    padding-inline: 6px;
}
.pb-7px {
    padding-bottom: 7px !important;
}

.pb-6px {
    padding-bottom: 6px !important;
}
.py-6px {
    padding-block: 6px;
}
.pt-7px {
    padding-top: 7px !important;
}
.py-7px {
    padding-block: 7px;
}
.p-7px {
    padding: 7px !important;
}
.px-8px {
    padding-inline: 8px;
}
.py-8px {
    padding-block: 8px !important;
}
.pt-8px {
    padding-block-start: 8px;
}
.px-9px {
    padding-inline: 9px;
}
.pb-10px {
    padding-bottom: 10px !important;
}
.ps-10px {
    padding-left: 10px !important;
}
.px-10px {
    padding-inline: 10px !important;
}
.p-10px {
    padding: 10px !important;
}
.pe-10px {
    padding-inline-end: 10px !important;
}
.py-10px {
    padding-block: 10px !important;
}
.ps-11px {
    padding-left: 11px;
}
.pb-12px {
    padding-block-end: 12px !important;
}
.py-12px {
    padding-block: 12px !important;
}
.px-12px {
    padding-inline: 12px;
}
.py-14px {
    padding-block: 14px;
}
.px-14px {
    padding-inline: 14px !important;
}
.ps-14px {
    padding-left: 14px !important;
}
.pe-15px {
    padding-right: 15px !important;
}
.px-15px {
    padding-inline: 15px !important;
}
.pt-17px {
    padding-top: 17px !important;
}
.py-18px {
    padding-block: 18px !important;
}
.p-20px {
    padding: 20px !important;
}
.px-20px {
    padding-inline: 20px !important;
}
.ps-20px {
    padding-left: 20px !important;
}
.pb-20px {
    padding-bottom: 20px !important;
}
.py-20px {
    padding-block: 20px !important;
}
.pt-20px {
    padding-top: 20px !important;
}
.py-21px {
    padding-block: 21px !important;
}
.pe-21px {
    padding-right: 21px !important;
}
.ps-21px {
    padding-left: 21px !important;
}
.ps-22px {
    padding-left: 22px !important;
}
.pb-23px {
    padding-bottom: 23px !important;
}
.ps-24px {
    padding-left: 24px !important;
}
.pe-25px {
    padding-right: 25px !important;
}
.pe-28px {
    padding-right: 28px !important;
}
.px-28px {
    padding-inline: 28px;
}
.px-29px {
    padding-inline: 29px;
}
.pb-29px {
    padding-bottom: 29px !important;
}
.pe-29px {
    padding-right: 29px;
}
.pe-32px {
    padding-right: 32px !important;
}
.ps-32px {
    padding-left: 32px !important;
}
.ps-35px {
    padding-left: 35px;
}
.px-35px {
    padding-inline: 35px !important;
}
.ps-38px {
    padding-left: 38px !important;
}
.ps-50px {
    padding-left: 50px;
}
.px-50px {
    padding-inline: 50px;
}
.ps-60px {
    padding-left: 60px !important;
}
.px-64px {
    padding-inline: 60px !important;
}
.ps-106px {
    padding-left: 106px !important;
}
.ps-125px {
    padding-left: 125px !important;
}
.ms-2px {
    margin-left: 2px !important;
}
.my-2px {
    margin-block: 2px !important;
}
.mx-2px {
    margin-inline: 2px;
}
.mt-3px {
    margin-top: 3px !important;
}
.me-5px {
    margin-right: 5px !important;
}
.ms-5px {
    margin-left: 5px !important;
}
.mb-6px {
    margin-block-end: 6px;
}
.mb-10px {
    margin-block-end: 10px;
}
.ms-12px {
    margin-left: 12px;
}
.mb-12px {
    margin-block-end: 12px;
}
.me-12px {
    margin-right: 12px !important;
}
.ms-10px {
    margin-left: 10px !important;
}
.ms-13px {
    margin-left: 13px !important;
}
.mt-17px {
    margin-top: 17px !important;
}
.mt-20px {
    margin-block-start: 20px;
}
.ms-20px {
    margin-left: 20px !important;
}
.ms-28px {
    margin-left: 28px !important;
}
.ms-30px {
    margin-left: 30px !important;
}
.ms-32px {
    margin-left: 32px !important;
}
.my-33px {
    margin-block: 33px !important;
}
.mt-100px {
    margin-top: 100px !important;
}
.mt-15px {
    margin-top: 15px !important;
}
.mb-20px {
    margin-bottom: 20px !important;
}
.ms-32px {
    margin-left: 32px !important;
}
.mt-32px {
    margin-top: 32px !important;
}
.bg-transparent {
    background: transparent;
}
.bg-113113113 {
    background: rgb(113, 113, 113) !important;
}
.bg-2392740 {
    background-color: rgb(239, 27, 40) !important;
}
.bg-0a0c8f {
    background: #0a0c8f !important;
}
.bg-f5f5f5 {
    background: #f5f5f5 !important;
}
.bg-f1c5c9 {
    background: #f1c5c9 !important;
}
.bg-fff3cd {
    background: #fff3cd !important;
}
.bg-239101131 {
    background: rgb(239, 101, 131);
}
.bg-fdd835 {
    background: #fdd835;
}
.bg-236236236 {
    background: rgb(128, 126, 126) !important;
}
.bg-6c757d {
    background: #6c757d !important;
}
.bg-2a3f54 {
    background: #2a3f54 !important;
}
.bg-e5203e {
    background: #e5203e !important;
}
.bg-e6b82d {
    background: #e6b82d !important;
}
.bg-ffebee {
    background: #ffebee !important;
}
.bg-ededed {
    background: #ededed !important;
}
.bg-FFD9D9 {
    background: #FFD9D9;
}
.bg-005EC9 {
    background: #005EC9 !important;
}
.bg-CFCFCF {
    background: #CFCFCF;
}
.bg-FFEDED {
    background: #FFEDED;
}
.bg-24B400 {
    background: #24B400;
}
.bg-1E9800 {
    background: #1E9800;
}
.bg-f3f3f3 {
    background: #f3f3f3;
}
.bg-rgb303030 {
    background-color: rgb(30, 30, 30) !important;
}
.bg-rgba00001 {
    background: rgba(0, 0, 0, 0.1);
}
.bg-rgba00003 {
    background: rgba(0, 0, 0, 0.3);
}
.bg-rgba00004 {
    background: rgba(0, 0, 0, 0.4);
}
.bg-rgba00008 {
    background: rgba(0, 0, 0, 0.8);
}
.bg-000 {
    background: #000 !important;
}
.bg-E30019 {
    background: #E30019 !important;
}
.bg-111111 {
    background: #111111 !important;
}
.bg-BE1529 {
    background: #BE1529 !important;
}
.bg-d61e2b {
    background: #d61e2b !important;
}
.bg-DF4A32 {
    background: #DF4A32 !important;
}
.bg-216222239 {
    background: rgb(216, 222, 239) !important;
}
.bg-ececec {
    background: #ECECEC !important;
}
.bg-3B5998 {
    background: #3B5998 !important;
}
.bg-FF8D9B {
    background: #FF8D9B !important;
}
.bg-f85985 {
    background: #f85985 !important;
}
.bg-f89009 {
    background: #f89009 !important;
}
.text-initial {
    color: initial !important;
}
.text-204204204 {
    color: rgb(204, 204, 204) !important;
}
.text-109110114 {
    color: rgb(109, 110, 114);
}
.text-2293263 {
    color: rgb(229, 32, 63) !important;
}
.text-FFEE12 {
    color: #FFEE12 !important;
}
.text-hsla001007 {
    color: hsla(0,0%,100%,.7) !important;
}
.text-0568d6 {
    color: #0568d6 !important;
}
.text-BAB8B8 {
    color: #BAB8B8 !important;
}
.text-rgba0006 {
    color: rgba(0, 0, 0, 0.6) !important;
}
.text-2353939 {
    color: rgb(235, 39, 39) !important;
}
.text-rgb161161161 {
    color: rgb(161, 161, 161) !important;
}
.text-838383 {
    color: rgb(83, 83, 83) !important;
}
.text-111111 {
    color: #111111 !important;
}
.text-73879c {
    color: #73879c !important;
}
.text-565656 {
    color: #565656 !important;
}
.text-ff0000 {
    color: #ff0000 !important;
}
.text-unset {
    color: unset !important;
}
.text-171717 {
    color: rgb(17, 17, 17) !important;
}
.color-E30019 {
    color: #E30019 !important;
}
.text-e10b24 {
    color: #e10b24 !important;
}
.text-797979 {
    color: #797979 !important;
}
.color-FF8A00 {
    color: #FF8A00;
}
.text-6D6E72 {
    color: #6D6E72 !important;
}
.text-ffeded {
    color: #ffeded;
}
.text-535353 {
    color: #535353 !important;
}
.text-428bca {
    color: #428bca !important;
}
.text-1E9800 {
    color: #1E9800 !important;
}
.text-1982F9 {
    color: #1982F9 !important;
}
.text-fdd835 {
    color: #fdd835;
}
.text-E30019 {
    color: #E30019 !important;
}
.text-333333 {
    color: #333333 !important;
}
.text-656160 {
    color: #656160;
}
.text-595959 {
    color: #595959;
}
.text-97999D {
    color: #97999D;
}
.text-1D8324 {
    color: #1D8324;
}
.text-89a0ae {
    color: #89a0ae;
}
.text-115135156 {
    color: rgb(115, 135, 156) !important;
}
.text-147162178 {
    color: rgb(147, 162, 178) !important;
}
.text-856404 {
    color: #856404 !important;
}
.text-hsl3517951 {
    color: hsl(351 79% 51%) !important;
}
.text-2114747 {
    color: rgb(211, 47, 47) !important;
}
.text-000087 {
    color: rgba(0, 0, 0, 0.87) !important;
}
.text-111 {
    color: #111 !important;
}
.fs-9px {
    font-size: 9px;
}
.fs-10px {
    font-size: 10px;
}
.fs-11px {
    font-size: 11px !important;
}
.fs-12px {
    font-size: 12px !important;
}
.fs-13px {
    font-size: 13px;
}
.fs-14px {
    font-size: 14px;
}
.fs-15px {
    font-size: 15px;
}
.fs-17px {
    font-size: 17px !important;
}
.fs-18px {
    font-size: 18px !important;
}
.fs-20px {
    font-size: 20px;
}
.fs-15pt {
    font-size: 15pt;
}
.fs-21px {
    font-size: 21px;
}
.fs-22px {
    font-size: 22px !important;
}
.fs-23px {
    font-size: 22px !important;
}
.fs-27px {
    font-size: 27px !important;
}
.fs-30px {
    font-size: 30px;
}
.fs-36px {
    font-size: 36px;
}
.fs-42px {
    font-size: 42px;
}
.fs-46px {
    font-size: 46px;
}
.fw-100 {
    font-weight: 100;
}
.fw-200 {
    font-weight: 200;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}
.resize-none {
    resize: none;
}
.mw-187px {
    max-width: 187px !important;
}
.row-gap {
    row-gap: 9px;
}
.object-fit-contain {
    object-fit: contain;
}
.object-fit-cover {
    object-fit: cover;
}
.flex-1 {
    flex: 1 !important;
}
.flex-4 {
    flex: 4 !important;
}
.flex-12 {
    flex: 0 0 12%;
}
.flex-20 {
    flex: 0 0 20%;
}
.flex-50 {
    flex: 0 0 50%;
}
.flex-58 {
    flex: 0 0 58%;
}
.w-30 {
    width: 29% !important;
    margin-left: 12px !important;
    padding: 0 !important;
}
.w-67 {
    width: 67% !important;
    padding: 0 !important;
}
.btn-unsetBoxshadow:focus {
    box-shadow: unset !important;
}
.overflow-x-hidden {
    overflow-x: hidden !important;
}
.overflow-y-auto {
    overflow-y: auto !important;
}
.column-gap60 {
    column-gap: 60px;
}
.hotline-Nav {
    flex: 0 0 21% !important;
}
.vertical-align-inherit {
    vertical-align: inherit;
}
.inset-0 {
    inset: 0 !important;
}
.reset-btn-button:focus {
    box-shadow: none !important;
}